    body
    {
        margin:0;
        font-size:9pt;     
    }
    a:link,a:visited
    {
        text-decoration:none; 
        color:#6f6f6f;
    }
    a:hover
    {
        color:Black;
    }
    #page
    {
         width:900px;
         margin:auto;
    }
    #header
    {
        width:900px;
        height:150px; 
        
    }
    #sidebar
    {
        float:left;
        padding-top:0px;
        width:200px;  
        border-right:solid 1px gray;
    }
    #sidebar ol
    {
           padding-left:8px;
    }
    #sidebar ol li
    {
        list-style-type:none;
        padding-bottom:10px;
    }
    #sidebar ol li img
    {
        padding-left:2px;    
    }
    #nav
    {    
        float:left; 
        width:600px;
    }
    #nav ol
    {   
        margin-top:2px;
        padding-left:2px;
    }
    #nav ol li
    {
        float:left;    
        list-style-type:none; 
        text-align:center;
        font-style:normal;
        padding:4px 23px;
        border:solid 1px Gray;
    }
    #nav ol li a
    { 
        line-height:10pt;
        color:#6f6f6f;
        
    }
    #nav ol li a:hover
    {  
        color:Black;
    }
    #news
    {     
        float:left; 
        width:700px;    
    }
    #footer
    {
        clear:both;
        width:900px;       
    }
    .sidebar_font
    {
        font-size:9pt;
        color:Gray;
        padding-left:10px; 
    } 
    .newstitle
    {
        text-align:center;
        font-size:20px;
        line-height:20px;
        margin-top:20px;
    }
    .alignright
    {
        text-align:right;
    }
    #news_meta_info
    {
        text-align:right;
        padding-top:10px;
    }
    #newscontent
    {
        line-height:20px;
        padding:20px;
    } 